<form role="form" name='loginForm' class="login-form" ng-controller="loginFormCtrl">
	<div class="form-group">
		<label class="control-label" for="email">{{ 'sign.inputEmail' | translate }} </label>
		<input
				type="text"
				id="email"
				class="form-control"
				placeholder="{{ 'sign.placeHolderEmail' | translate }}"
				ng-model="test">
	</div>
	<div>loginForm.password.$valid = {{loginForm.password.$valid}}</div>
	<div>Value: {{login.passwordaa}}</div>
	<div>Value: {{test}}</div>
	<div class="form-group has-success has-feedback">
		<label class="control-label" for="passwordaa">{{ 'sign.inputPassword' | translate }} <a href="/sessions/forgot_password">({{ 'sign.linkForgotPassword' | translate }})</a></label>
		<input
				type="password"
				id="passwordaa"
				name="passwordaa"
				class="form-control"
				placeholder="{{ 'sign.placeHolderPassword' | translate }}"
				ng-minlength="8"
				ng-model="login.passwordaa">
		<span class="glyphicon glyphicon-ok form-control-feedback"></span>
	</div>
	<validated-input
			type="text"
			id="password"
			name="password"
			placeholder="{{ 'sign.placeHolderPassword' | translate }}"
			minlength="8"
			model="login.password"
			label="{{ 'sign.inputPassword' | translate }} <a href=&quot;/sessions/forgot_password&quot;>({{ 'sign.linkForgotPassword' | translate }})</a>"
			feedback-type="test">

	</validated-input>
	<p class="bg-danger">error</p>
	<div class="login-button-group">
		<button type="submit" class="btn btn-block btn-default">{{ 'sign.buttonSignIn' | translate }}</button>
		<button class="btn btn-block btn-social btn-facebook">
			<i class="fa fa-facebook"></i> {{ 'sign.buttonSignInFB' | translate }}
		</button>
		<button class="btn btn-block btn-social btn-google-plus">
			<i class="fa fa-google-plus"></i> {{ 'sign.buttonSignInGO' | translate }}
		</button>
	</div>
	<div class="pull-right">
		<a href="#/register" class="btn btn-link">{{ 'sign.buttonRegister' | translate }}</a>
	</div>
</form>