html{
  height: 100%;

  body {
	height: 100%;

	.vcrud {
	  height: 100%;
	}
  }
}

.vertical-centered-container{
  height: 100%;
  display: table;
  vertical-align: middle;

  .vertical-center-this{
	display: table-cell;
	vertical-align: middle;
  }
}